@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Roboto&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    h1{
        @apply text-4xl text-white font-title font-bold;
    }

    h2{
        @apply text-3xl text-white font-bold;
    }

    h3{
        @apply text-2xl text-white font-bold;
    }

    h4{
        @apply text-xl text-white font-semibold;
    }

    p{
        @apply text-dark;
    }

    body{
        @apply bg-dark;
    }

    input,
    textarea{
        @apply border-[1px] rounded-md bg-dark-lighter outline-dark text-white px-2;
    }

    button{
        @apply bg-dark-lighter outline-dark text-white;
    }

    .page{
        @apply flex items-center justify-center h-screen w-full;
    }

    .file_label{
        @apply border-[1px] rounded-sm border-dark p-2 text-dark;
    }
}